.container {
    width: 100%;
    min-height: 100vh;
    
    padding: none;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
#camFrame, #feed {
    border-radius: 2rem;
    background-color: rgb(44, 59, 22);
    width: 100%;
}
#camFrame {
    aspect-ratio: 16/9;
    flex-grow: 1;
    filter: drop-shadow(0 4px 16px rgba(0,0,0,.5));
}
#feed {
    height: 10rem;
    background-color: rgb(44, 59, 22);
}